<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles3.css')}}">
</head>
<body>
    <div class="container">
            <p class="team">About</p>
            <div class="innerbox">
                <div class="wrapper">
                    <div class="profilebox">
                        <div class="imagebox">
                            <img src="{{url_for('static',filename='img/bharathi.jpg')}}" alt="image-Bharathi">
                            <div class="avatar">
                                <p class="name"
                                style="font-weight: 700;">Bharathi Shavakkar K S (Team Lead)</p>
                                <p class="role"
                                style="font-weight: 600;">shavakkar@gmail.com</p>
                                <p class="about">
                                    &nbsp;&nbsp;&nbsp;&nbsp; A passionate learner with interest to experience new technology and skills. Seeking an opportunity to establish a career and exhibiting a strong willingness to become proficient with the Work. Eager to contribute meaningfully to the success of the team.
                                </p>
                            </div>
                        </div>
                    </div>  
                    <div class="profilebox">
                        <div class="imagebox">
                            <img src="{{url_for('static',filename='img/lokesh.jpg')}}" alt="image-Lokesh">
                            <div class="avatar">
                                <p class="name"
                                style="font-weight: 700;">Lokesh V</p>
                                <p class="role" style="font-weight: 600;">sharamlokesh1@gmail.com</p>
                                <p class="about"> &nbsp;&nbsp;&nbsp;&nbsp; When I was a kid, I had a great love for mathematics. As
                                    I entered college, I began exploring the field of data science and
                                    discovered a deep interest in it. It was then that I decided to choose
                                    data science as my career path. Now, as I continue to pursue this
                                    field, I find myself becoming even more intrigued and excited by the
                                    opportunities it presents.</p>
                            </div>
                        </div>
                    </div>
                    <div class="profilebox">
                        <div class="imagebox">
                            <img src="{{url_for('static',filename='img/nithya.jpg')}}" alt="image-Nithya">
                            <div class="avatar">
                                <p class="name"
                                style="font-weight: 700;">Nithya R</p>
                                <p class="role" style="font-weight: 600;">nithyars0310@gmail.com</p>
                                <p class="about">
                                    &nbsp;&nbsp;&nbsp;&nbsp; Committed and goal-oriented computer science graduate looking to pursue a career in the software engineering domain. Possess excellent knowledge in HTML, CSS, Javascript, Jquery. Ability to learn things quickly and capable of working in a fast-paced and team-driven environment.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profilebox">
                        <div class="imagebox">
                            <img src="{{url_for('static',filename='img/abinaya.jpg')}}" alt="image-Abinaya">
                            <div class="avatar">
                                <p class="name"
                                style="font-weight: 700;">Abinaya S</p>
                                <p class="role" style="font-weight: 600;">spabinaya2003@gmail.com</p>
                                <p class="about">
                                    &nbsp;&nbsp;&nbsp;&nbsp; As a recent graduate in Software Engineering, I have developed a solid foundation in programming
                                    principles and computer science concepts.With a strong willingness to learn and a drive to succeed, I am confident in my ability to contribute value to my knowledge and skills and enhance my abilities.
                                </p>
                            </div>
                        </div>
                    </div>  
    
                </div>
            </div>
    </div>
</body>
</html>