<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Precautions</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles1.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="box">
                <p class="heading">
                Basic Precautionary Steps
            </p>
            <img class="image1" src="{{url_for('static',filename='img/hdh.JPG')}}" alt="image-Awareness">
            </div>
            <div class="who">
                <div class="wrapper">
                    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                        <img class="whoLogo" src="{{url_for('static',filename='img/WHO_logo.svg.png')}}" alt="WHO_logo">
                    </a>
                    <h2>WHO Recommandations</h2>
                </div>
                <div class="content">
                    <p>Keep yourself and others safe: Do it all!</p>
                    <p>Wear a mask properly</p>
                    <p>Make your environment safer</p>
                    <p>Keep good hygiene</p>
                    <p>What to do if you feel unwell</p>
                </div>
            </div>
        </div>
    </body>
</html>